{% include 'header.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

   <!-- bootstrap css -->
   <link rel="stylesheet" type="text/css" href="static/css/blog/bootstrap.min.css">
   <!-- style css -->
   <link rel="stylesheet" type="text/css" href="static/css/blog.css">

</head>

<body>

   <!-- about section start -->
   <div class="about_section layout_padding">
      <div class="container">
         <div class="row">
            <div class="col-lg-8 col-sm-12">
               <div class="about_img"><img src="static/images/blog/Winner2.0.jpg"></div>
               <div class="like_icon"><img src="static/images/blog/like-icon.png"></div>
               <p class="post_text">Post By : 04/01/2023</p>
               <h2 class="most_text">Winner Announcement for VeerGatha 2.0</h2>
               <p class="lorem_text">Veergatha 1.0 was received very enthusiastically pan India. Inspired by its
                  success, MOE in coordination with MOD is implementing VeerGatha 2.0 from 1st Sep 2022 to 30th Nov 2022
                  under the aegis of Gallantry Awards Portal of India. In order to popularize Veergatha 2.0, several
                  physical and online interaction of gallantry awardees were done with the school students.</p>
               <div class="social_icon_main">
                  <div class="social_icon">
                     <ul>
                        <li><a href="#"><img src="static/images/blog/fb-icon.png"></a></li>
                        <li><a href="#"><img src="static/images/blog/twitter-icon.png"></a></li>
                        <li><a href="#"><img src="static/images/blog/instagram-icon.png"></a></li>
                     </ul>
                  </div>

               </div>
            </div>
            <div class="col-lg-4 col-sm-12">
               <div class="image_5"><img src="static/images/blog/about-india.jfif"></div>
               <h1 class="about_taital">About India</h1>
               <p class="about_text">India is one of the oldest civilizations in the world with a kaleidoscopic variety
                  and rich cultural heritage. It has achieved all-round socio-economic progress since Independence. As
                  the 7th largest country in the world, India stands apart from the rest of Asia, marked off as it is by
                  mountains and the sea, which give the country a distinct geographical entity. Bounded by the Great
                  Himalayas in the north, it stretches southwards and at the Tropic of Cancer, tapers off into the
                  Indian Ocean between the Bay of Bengal on the east and the Arabian Sea on the west.</p>
            </div>
         </div>
      </div>
   </div>
   <!-- about section end -->
   <!-- blog section start -->
   <div class="about_section layout_padding">
      <div class="container">
         <div class="row">
            <div class="col-lg-8 col-sm-12">
               <div class="about_img"><img src="static/images/blog/republic day.jpg"></div>
               <div class="like_icon"><img src="static/images/blog/like-icon.png"></div>
               <p class="post_text">Post By : 09/06/2019</p>
               <h2 class="most_text">Republic Day: Know The History And Significance Of January 26, And A Few
                  Interesting Facts About The Day</h2>
               <p class="lorem_text"><br><b>New Delhi:</b><br> Republic Day marks the adoption of the constitution of
                  India and the transition of the country to a republic on January 26, 1950. Every year, the
                  celebrations marking the day feature spectacular military and cultural pageantry. In New Delhi, armed
                  forces personnel march along the Rajpath, in an elaborate display of military might. The epic show on
                  Rajpath eclipses everything else happening across the country on this auspicious day.</p>
               <p class="lorem_text"><br><b>History:</b><br> On August 15, 1947, India achieved independence. A
                  committee was created a few days later, on August 29, to draft a permanent constitution for
                  independent India. Dr BR Ambedkar was made chairman of the committee. On November 4, 1947, the
                  committee drafted the constitution and submitted it to the Constituent Assembly. The Assembly met in
                  numerous sessions for nearly two years before finally adopting the Constitution. On January 24, 1950,
                  the 308 members of the Assembly signed two handwritten versions of the agreement -- one in Hindi and
                  one in English -- after much deliberation and a few changes.</p>
               <p class="lorem_text"><br><b>Significance:</b>s<br>

                  India's constitution, which was formally adopted in 1950, replaced the British colonial Government of
                  India Act (1935) as the country's governing text.

                  On January 26, 1950, the Preamble to the Constitution of India -- a statement presenting the key
                  principles of the Constitution -- came into effect. This completed the country's transition to a
                  sovereign republic. The Constitution establishes fundamental rights that should be enjoyed by all
                  citizens of this country, regardless of their political beliefs. It also establishes some fundamental
                  duties for all citizens of the country to abide by.</p>
               <div class="social_icon_main">
                  <div class="social_icon">
                     <ul>
                        <li><a href="#"><img src="static/images/blog/fb-icon.png"></a></li>
                        <li><a href="#"><img src="static/images/blog/twitter-icon.png"></a></li>
                        <li><a href="#"><img src="static/images/blog/instagram-icon.png"></a></li>
                     </ul>
                  </div>

               </div>
            </div>
            {% comment %} <div class="col-lg-4 col-sm-12">
               <div class="about_main">
                  <h1 class="follow_text">CONNECT & FOLLOW</h1>
                  <div class="follow_icon">
                     <ul>
                        <li><a href="#"><img src="static/images/blog/fb-icon-1.png"></a></li>
                        <li><a href="#"><img src="static/images/blog/twitter-icon-1.png"></a></li>
                        <li><a href="#"><img src="static/images/blog/linkedin-icon-1.png"></a></li>
                        <li><a href="#"><img src="static/images/blog/instagram-icon-1.png"></a></li>
                     </ul>
                  </div>
               </div>
            </div> {% endcomment %}
         </div>
      </div>
   </div>
   <!-- blog section end --> s
   <!-- blog section start -->
   <div class="about_section layout_padding">
      <div class="container">
         <div class="row">
            <div class="col-lg-8 col-sm-12">
               <div class="about_img"><img src="static/images/blog/National memorial delhi.jpg"></div>
               <div class="like_icon"><img src="static/images/blog/like-icon.png"></div>
               <p class="post_text">Post By : 09/06/2019</p>
               <h2 class="most_text">National War Memorial – New Delhi</h2>
               <p class="lorem_text">Since-Independence, more than 26,000 soldiers of the Indian Armed Forces have made
                  the supreme sacrifice to defend the sovereignty and integrity of the country. The National War
                  Memorial represents the gratitude of a nation to its Armed Forces. The Memorial helps strengthen the
                  sense of belonging, high moral values, sacrifice and national pride in it’s citizens. It stands
                  testimony to the sacrifices made by soldiers during various conflicts, United Nations Operations,
                  Humanitarian Assistance and Disaster Response Operations since Independence. It also showcases rich
                  military traditions of Armed Forces as a shining example of selfless service to the nation.



                  The memorial complex is in harmony with the existing layout and symmetry of the majestic Rajpath and
                  Central Vista. Solemnity of the ambience is maintained with an emphasis on landscaping and the
                  simplicity of architecture. Apart from the main memorial, there is dedicated area for busts of
                  soldiers who have been conferred with ‘Param Vir Chakra’, the nation’s highest gallantry award. The
                  design of the main memorial exemplifies that supreme sacrifice made by a soldier in the line of duty
                  not only makes him immortal but also depicts that the spirit of a soldier remains eternal.

               </p>
               <div class="social_icon_main">
                  <div class="social_icon">
                     <ul>
                        <li><a href="#"><img src="static/images/blog/fb-icon.png"></a></li>
                        <li><a href="#"><img src="static/images/blog/twitter-icon.png"></a></li>
                        <li><a href="#"><img src="static/images/blog/instagram-icon.png"></a></li>
                     </ul>
                  </div>

               </div>
            </div>
            {% comment %} <div class="col-lg-4 col-sm-12">
               <div class="about_main">
                  <h1 class="follow_text">CONNECT & FOLLOW</h1>
                  <div class="follow_icon">
                     <ul>
                        <li><a href="#"><img src="static/images/blog/fb-icon-1.png"></a></li>
                        <li><a href="#"><img src="static/images/blog/twitter-icon-1.png"></a></li>
                        <li><a href="#"><img src="static/images/blog/linkedin-icon-1.png"></a></li>
                        <li><a href="#"><img src="static/images/blog/instagram-icon-1.png"></a></li>
                     </ul>
                  </div>
               </div>
            </div> {% endcomment %}
         </div>
      </div>
   </div>
   <!-- blog section end -->
   <!-- newsletter section start -->
   <div class="about_section layout_padding">
      <div class="container">
         <div class="row">
            <div class="col-lg-8 col-sm-12">
               <div class="about_img"><img
                     src="static/images/blog/Constitution-of-India-Article-32-and-Article-226.jpeg"></div>
               <div class="like_icon"><img src="static/images/blog/like-icon.png"></div>
               <p class="post_text">Post By : 09/06/2019</p>
               <h2 class="most_text">Constitution Of India : Introduction and Full Text</h2>
               <p class="lorem_text">India, also known as Bharat, is a Union of States. It is a Sovereign Socialist
                  Secular Democratic Republic with a parliamentary system of government. The Republic is governed in
                  terms of the Constitution of India which was adopted by the Constituent Assembly on 26th November,
                  1949 and came into force on 26th January, 1950. The Constitution provides for a Parliamentary form of
                  government which is federal in structure with certain unitary features. The constitutional head of the
                  Executive of the Union is the President. As per Article 79 of the Constitution of India, the council
                  of the Parliament of the Union consists of the President and two Houses known as the Council of States
                  (Rajya Sabha) and the House of the People (Lok Sabha). Article 74(1) of the Constitution provides that
                  there shall be a Council of Ministers with the Prime Minister as its head to aid and advise the
                  President, who shall exercise his/her functions in accordance to the advice. The real executive power
                  is thus vested in the Council of Ministers with the Prime Minister as its head.</p>
               <div class="social_icon_main">
                  <div class="social_icon">
                     <ul>
                        <li><a href="#"><img src="static/images/blog/fb-icon.png"></a></li>
                        <li><a href="#"><img src="static/images/blog/twitter-icon.png"></a></li>
                        <li><a href="#"><img src="static/images/blog/instagram-icon.png"></a></li>
                     </ul>
                  </div>

               </div>
            </div>
            {% comment %} <div class="col-lg-4 col-sm-12">
               <div class="newsletter_main">
                  <h1 class="newsletter_taital">SUBSCRIPTION</h1>
                  <div class="input_box">
                     <input type="text" class="input_text" placeholder="Enter Your email" name="Enter Your email">
                     <input type="text" class="input_text" placeholder="Your name" name="Your name">
                     <div class="send_text"><a href="#">Subscribe</a></div>
                  </div>
               </div>
            </div> {% endcomment %}
         </div>
      </div>
   </div>
   <!-- newsletter section end -->
   <!-- recent section start -->
   <div class="about_section layout_padding">
      <div class="container">
         <div class="row">
            <div class="col-lg-8 col-sm-12">
               <div class="about_img"><img src="static/images/blog/Preamble To The Constitution Of India.png"></div>
               <div class="like_icon"><img src="static/images/blog/like-icon.png"></div>
               <p class="post_text">Post By : 09/06/2019</p>
               <h2 class="most_text">Preamble To The Constitution Of India</h2>
               <p class="lorem_text">he Preamble to the Constitution of India is a guide to the nation as it sets out
                  the purpose, principles, and philosophy of the country. The Preamble is made available by the
                  Legislative Department in 18 different languages.</p>
               <div class="social_icon_main">
                  <div class="social_icon">
                     <ul>
                        <li><a href="#"><img src="static/images/blog/fb-icon.png"></a></li>
                        <li><a href="#"><img src="static/images/blog/twitter-icon.png"></a></li>
                        <li><a href="#"><img src="static/images/blog/instagram-icon.png"></a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- recent section end -->



