{% include 'header.html' %}
{% load static %}
{% block content %}

<!-- ***** Main Banner Area Start ***** -->


<div id="preloader"></div>

<section class="section main-banner" id="top" data-section="section1">
  <video autoplay muted loop id="bg-video">
    <source src="static/images/2.mp4" type="video/mp4" />
  </video>

  <div class="video-overlay header-text">
    <div class="caption">
      <img src="static/images/topicvideo.gif" alt="">
    </div>
    <img class="lflam" src="static/images/flam.gif" alt="">
    <img class="rflam" src="static/images/flam.gif" alt="">
  </div>
</section>
<!-- ***** Main Banner Area End ***** -->


<section class="features">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-12">
        <div class="features-post">
          <div class="features-content">
            <div class="content-show">
              <h4><i class="fa-solid fa-calendar-days"></i>Event</h4>
            </div>
            <div class="content-hide">
              <p>Curabitur id eros vehicula, tincidunt libero eu, lobortis mi. In mollis eros a posuere imperdiet.
                Donec maximus elementum ex. Cras convallis ex rhoncus, laoreet libero eu, vehicula libero.</p>
              <p class="hidden-sm">Curabitur id eros vehicula, tincidunt libero eu, lobortis mi. In mollis eros a
                posuere imperdiet.</p>
              <div class="scroll-to-section"><a href="event">More Info</a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-12">
        <div class="features-post second-features">
          <div class="features-content">
            <div class="content-show">
              <h4><i class="fa-brands fa-quinscape"></i>Quiz</h4>
            </div>
            <div class="content-hide">
              <p>Curabitur id eros vehicula, tincidunt libero eu, lobortis mi. In mollis eros a posuere imperdiet.
                Donec maximus elementum ex. Cras convallis ex rhoncus, laoreet libero eu, vehicula libero.</p>
              <p class="hidden-sm">Curabitur id eros vehicula, tincidunt libero eu, lobortis mi. In mollis eros a
                posuere imperdiet.</p>
              <div class="scroll-to-section"><a href="quizfirstpage">More Info</a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-12">
        <div class="features-post third-features">
          <div class="features-content">
            <div class="content-show">
              <h4><i class="fa-solid fa-address-card"></i>Post</h4>
            </div>
            <div class="content-hide">
              <p>Curabitur id eros vehicula, tincidunt libero eu, lobortis mi. In mollis eros a posuere imperdiet.
                Donec maximus elementum ex. Cras convallis ex rhoncus, laoreet libero eu, vehicula libero.</p>
              <p class="hidden-sm">Curabitur id eros vehicula, tincidunt libero eu, lobortis mi. In mollis eros a
                posuere imperdiet.</p>
              <div class="scroll-to-section"><a href="post">More Info</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section why-us" data-section="section2">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h2>Prime Ministers</h2>
        </div>
      </div>
      <div class="col-md-12">
        <div id='tabs'>

          <section class='tabs-content'>
            <article id='tabs-1'>
              <div class="row">
                <div class="col-md-5 img ">
                  <img style="height: 450px;" src="static/images/pm indian/image1.jpg" alt="">
                </div>
                <div class="col-md-6">
                  <h4>Narendra Modi</h4>
                  <h6>2014-Present</h6>
                  <p> born 17 September 1950 is an Indian politician serving as the 14th and current Prime Minister of
                    India since 2014. Modi was the Chief Minister of Gujarat from 2001 to 2014 and is the Member of
                    Parliament from Varanasi. He is a member of the Bharatiya Janata Party (BJP) and of the Rashtriya
                    Swayamsevak Sangh (RSS), a right-wing Hindu nationalist paramilitary volunteer organisation. He is
                    the longest serving prime minister from outside the Indian National Congress. <br>
                    Narendra Damodardas Modi was born on 17 September 1950 to a Gujarati Hindu family of grocers in
                    Vadnagar, Mehsana district, Bombay State (present-day Gujarat).
                  </p>
                </div>
              </div>
            </article>
            <article id='tabs-2'>
              <div class="row">
                <div class="col-md-5">
                  <img style="height: 450px;" src="static/images/pm indian/image2.jpg" alt="">
                </div>
                <div class="col-md-6">
                  <h4>Manmohan Singh</h4>
                  <h6>22 May 2004 to 26 May 2014
                    ( 10 years, 4 days )</h6>
                  <p>born 26 September 1932 is an Indian politician, economist and statesman who served as the 13th
                    prime minister of India from 2004 to 2014. He is also the third longest-serving prime minister after
                    Jawaharlal Nehru and Indira Gandhi. A member of the Indian National Congress, Singh was the first
                    Sikh prime minister of India. He was also the first prime minister since Jawaharlal Nehru to be
                    re-elected after completing a full five-year term. <br>
                    Singh was born to Gurmukh Singh and Amrit Kaur on 26 September 1932, in Gah, Punjab, British India,
                    into a Sikh family.[3] He lost his mother when he was very young and was raised by his paternal
                    grandmother, to whom he was very close.</p>
                </div>
              </div>
            </article>
            <article id='tabs-3'>
              <div class="row">
                <div class="col-md-5">
                  <img style="height: 450px;" src="static/images/pm indian/image3.jpg" alt="">
                </div>
                <div class="col-md-6">
                  <h4>Atal Bihari Vajpayee</h4>
                  <h6>16 May 1996 to 1 June 1996
                    ( 16 days )</h6>
                  <h6>19 March 1998 to 22 May 2004
                    ( 6 years, 64 days )</h6>
                  <p>25 December 1924 – 16 August 2018 was an Indian politician and statesman who served three terms as
                    the 10th Prime Minister of India, first for a term of 13 days in 1996, then for a period of 13
                    months from 1998 to 1999, followed by a full term from 1999 to 2004. Vajpayee was one of the
                    co-founders and a senior leader of the Bharatiya Janata Party (BJP). He was a member of the
                    Rashtriya Swayamsevak Sangh, a Hindu nationalist volunteer organisation. He was the first Indian
                    prime minister not of the Indian National Congress to serve a full term in office. He was also a
                    renowned poet and a writer. <br>
                    Vajpayee was born into a Hindu Brahmin family on 25 December 1924 in Gwalior, His father was a
                    school teacher in their home town.</p>
                </div>
              </div>
            </article>
            <article id='tabs-4'>
              <div class="row">
                <div class="col-md-5">
                  <img style="height: 450px;" src="static/images/pm indian/image4.jpg" alt="">
                </div>
                <div class="col-md-6">
                  <h4>Inder Kumar Gujral</h4>
                  <h6>21 April 1997 to 19 March 1998
                    ( 332 days )</h6>
                  <p>Born in Punjab, he was influenced by nationalistic ideas as a student, and joined the All India
                    Students Federation and the Communist Party of India. He was imprisoned for taking part in the Quit
                    India movement. After independence, he joined the Indian National Congress party in 1964, and became
                    a Member of Parliament in the Rajya Sabha. <br>
                    Gujral became vice-president of the New Delhi Municipal Committee in 1958,[15] and joined the
                    Congress party (INC) in 1964.[16] He was close to Indira Gandhi, and became a member of the Rajya
                    Sabha in April 1964.</p>
                </div>
              </div>
            </article>
            <article id='tabs-5'>
              <div class="row">
                <div class="col-md-5">
                  <img style="height: 450px;" src="static/images/pm indian/image5.jpg" alt="">
                </div>
                <div class="col-md-6">
                  <h4>H. D. Deve Gowda</h4>
                  <h6>1 June 1996 to 21 April 1997
                    ( 324 days )</h6>
                  <p>born 18 May 1933 in is an Indian politician from the state of Karnataka. He served as the 11th
                    prime minister of India from 1 June 1996 to 21 April 1997.[3][4] He was previously the 14th Chief
                    Minister of Karnataka from 1994 to 1996. He presently is a Member of Parliament in the Rajya Sabha
                    representing Karnataka. He is the National President of the Janata Dal (Secular) party.[5] <br>
                    Gowda joined the Indian National Congress party in 1953 and remained a member until 1962. During
                    that period, he was President of Anjaneya Cooperative Society of Holenarasipura and later became a
                    member of the Taluk Development Board of Holenarasipura.</p>
                </div>
              </div>
            </article>
            <article id='tabs-7'>
              <div class="row">
                <div class="col-md-5">
                  <img style="height: 450px;" src="static/images/pm indian/image7.jpg" alt="">
                </div>
                <div class="col-md-6">
                  <h4>P. V. Narasimha Rao</h4>
                  <h6>21 June 1991 to 16 May 1996 ( 4 years, 330 days )</h6>
                  <p> (28 June 1921 – 23 December 2004), popularly known as P. V. Narasimha Rao, was an Indian lawyer,
                    statesman and politician who served as the 9th prime minister of India from 1991 to 1996. <br>
                    Rao was an active freedom fighter during the Indian Independence movement[31] and joined full-time
                    politics after independence as a member of the Indian National Congress.[28] He served as an elected
                    representative for Andhra Pradesh State Assembly from 1957 to 1977.[24] He served in various
                    ministerial positions in Andhra government from 1962 to 1973. <br>
                    P. V. Narasimha Rao was born on 28 June 1921 in a Telugu Brahmin family in the village of Laknepalli
                    village Warangal district of present-day Telangana (then part of Hyderabad State).</p>
                </div>
              </div>
            </article>
            <article id='tabs-8'>
              <div class="row">
                <div class="col-md-5">
                  <img style="height: 450px;" src="static/images/pm indian/image8.jpg" alt="">
                </div>
                <div class="col-md-6">
                  <h4>Chandra Shekhar</h4>
                  <h6>10 Nov 1990 to 21 June 1991
                    ( 223 days )</h6>
                  <p> ( 17 April 1927 – 8 July 2007) was an Indian politician who served as the 8th Prime Minister of
                    India, between 10 November 1990 and 21 June 1991. He headed a minority government of a breakaway
                    faction of the Janata Dal with outside support from the Indian National Congress.[1] He was the
                    first Indian Prime Minister who had never held any prior government office. <br>
                    Chandra Shekhar was born on 17 April 1927 in a Rajput family at Ibrahimpatti, a village in Uttar
                    Pradesh. He came from a farming family. <br>
                    He joined the socialist movement and was elected secretary of the district Praja Socialist Party
                    (PSP), Ballia. Within a year, he was elected joint secretary of the PSP's State unit in Uttar
                    Pradesh. </p>
                </div>
              </div>
            </article>
            <article id='tabs-9'>
              <div class="row">
                <div class="col-md-5">
                  <img style="height: 450px;" src="static/images/pm indian/image9.jpg" alt="">
                </div>
                <div class="col-md-6">
                  <h4>V. P. Singh</h4>
                  <h6>2 Dec 1989 to 10 Nov 1990
                    ( 343 days )</h6>
                  <p> (25 June 1931 – 27 November 2008), shortened to V. P. Singh, was an Indian politician who was the
                    7th Prime Minister of India from 1989 to 1990[2] and the 41st Raja Bahadur of Manda.[3] He is
                    India's only prime minister to have been former royalty. <br>
                    Singh was born on 25 June 1931,[6] the third child of the Hindu Rajput Zamindar family[7][8] of
                    Daiya, which is located on the banks of the Belan River in the Allahabad district. He was adopted by
                    Raja Bahadur Ram Gopal Singh of Manda and became the heir-apparent. <br>
                    Singh was elected from Soraon[13] to the Uttar Pradesh Legislative Assembly in 1969 as a member of
                    the Congress Party and became the chief whip for the legislative party. </p>
                </div>
              </div>
            </article>
            <article id='tabs-10'>
              <div class="row">
                <div class="col-md-5">
                  <img style="height: 450px;" src="static/images/pm indian/image10.jpg" alt="">
                </div>
                <div class="col-md-6">
                  <h4>Rajiv Gandhi</h4>
                  <h6>31 Oct 1984 to 2 Dec 1989
                    ( 5 years, 32 days )</h6>
                  <p>20 August 1944 – 21 May 1991)[1][2][3] was an Indian politician who served as the sixth prime
                    minister of India from 1984 to 1989. He took office after the 1984 assassination of his mother, then
                    Prime Minister Indira Gandhi, to become the youngest Indian Prime minister at the age of 40. <br>
                    Rajiv Gandhi was born in Bombay on 20 August 1944 to Indira and Feroze Gandhi. In 1951, Rajiv and
                    Sanjay were admitted to Shiv Niketan school, where the teachers said Rajiv was shy and introverted,
                    and "greatly enjoyed painting and drawing". <br>
                    On 23 June 1980, Rajiv's younger brother Sanjay Gandhi died unexpectedly in an aeroplane crash. At
                    that time, Rajiv Gandhi was in London as part of his foreign tour. Hearing the news, he returned to
                    Delhi and cremated Sanjay's body.</p>
                </div>
              </div>
            </article>
            <article id='tabs-6'>
              <div class="row">
                <div class="col-md-5">
                  <img style="height: 450px;" src="static/images/pm indian/image6.jpg" alt="">
                </div>
                <div class="col-md-6">
                  <h4>Indira Gandhi</h4>
                  <h6>14 Jan.1980 to 31 Oct. 1984
                    ( 4 years, 291 days )</h6>
                  <p>19 November 1917 – 31 October 1984) was an Indian politician and stateswoman who served as the
                    third prime minister of India from 1966 to 1977 and from 1980 until her assassination in 1984. She
                    was India's first, and to date only, female prime minister and a central figure of the Indian
                    National Congress. Gandhi was the daughter of Jawaharlal Nehru, the first prime minister of India,
                    and the mother of Rajiv Gandhi, who succeeded her in office as the sixth Indian prime minister.
                    Furthermore, Gandhi's cumulative tenure of 15 years and 350 days makes her the second
                    longest-serving country's prime minister after her father. <br>
                    The first electoral test for Gandhi was the 1967 general elections for the Lok Sabha and state
                    assemblies. The Congress Party won a reduced majority in the Lok Sabha after these elections owing
                    to widespread disenchantment over the rising prices of commodities, unemployment, economic
                    stagnation and a food crisis.</p>
                </div>
              </div>
            </article>
          </section>
          <ul>
            <li><a href='#tabs-1'><img src="static/images/pm indian/image1.jpg" alt=""></a></li>
            <li><a href='#tabs-2'><img src="static/images/pm indian/image2.jpg" alt=""></a></li>
            <li><a href='#tabs-3'><img src="static/images/pm indian/image3.jpg" alt=""></a></li>
            <li><a href='#tabs-4'><img src="static/images/pm indian/image4.jpg" alt=""></a></li>
            <li><a href='#tabs-5'><img src="static/images/pm indian/image5.jpg" alt=""></a></li>
            <li><a href='#tabs-7'><img src="static/images/pm indian/image7.jpg" alt=""></a></li>
            <li><a href='#tabs-8'><img src="static/images/pm indian/image8.jpg" alt=""></a></li>
            <li><a href='#tabs-9'><img src="static/images/pm indian/image9.jpg" alt=""></a></li>
            <li><a href='#tabs-10'><img src="static/images/pm indian/image10.jpg" alt=""></a></li>
            <li><a href='#tabs-6'><img src="static/images/pm indian/image6.jpg" alt=""></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section coming-soon" data-section="section3">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-xs-12">
        <div class="continer centerIt">
          <div>
            <h4>&nbsp;<span style="align-items: center;">&nbsp;</span></h4>
            <div class="counter">

              <div class="days">
                <div id="days"></div>
                <span>Days</span>
              </div>

              <div class="hours">
                <div id="hours"></div>
                <span>Hours</span>
              </div>

              <div class="minutes">
                <div id="minutes"></div>
                <span>Minutes</span>
              </div>

              <div class="seconds">
                <div id="seconds"></div>
                <span>Seconds</span>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="right-content">
          <div class="top-content">
            <h6><b>Enjoy the Virtual tour and Panoramic view of the Beating the Retreal <br> LIVE 26th January
                2023</b></h6>
          </div>
          <form id="contact" action="https://www.youtube.com/watch?v=ZfmZW_FyuFE&ab_channel=Firstpost" method="get">
            <div class="row">
              <div class="p-video">
                <video autoplay muted loop id="p-video">
                  <source src="static/images/2.mp4" type="video/mp4" />
                </video>
              </div>
              <div class="col-md-12">
                <fieldset>
                  <button type="submit" id="form-submit" class="button" target="_black">Live Video</button>
                </fieldset>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section courses" data-section="section4">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h2>Freedom Fighters</h2>
        </div>
      </div>
      <div class="owl-carousel owl-theme">
        <div class="item">
          <img src="static/images/ff/1.jpg" alt="Course #1">
          <div class="down-content">
            <h4>Mahatma Gandhi</h4>
            <p> 2 October 1869 – 30 January 1948, popularly known as Mahatma Gandhi, was an Indian revolutionary,
              anti-colonial nationalist, and political ethicist who employed nonviolent resistance to lead the
              successful campaign for India's independence from British rule.</p>
          </div>
        </div>
        <div class="item">
          <img src="static/images/ff/2.jpg" alt="Course #2">
          <div class="down-content">
            <h4>Jawaharlal Nehru</h4>
            <p>14 November 1889 – 27 May 1964, was an Indian anti-colonial nationalist, secular humanist, social
              democrat,[2] statesman and author who was a central figure in India during the middle of the 20th century.
              Nehru was a principal leader of the Indian nationalist.</p>
          </div>
        </div>
        <div class="item">
          <img src="static/images/ff/3.jpg" alt="Course #2">
          <div class="down-content">
            <h4>Chandra Shekhar Azad</h4>
            <p>23 July 1906 – 27 February 1931, popularly known as Chandra Shekhar Azad, was an Indian revolutionary who
              reorganised the Hindustan Republican Association (HRA) under its new name of Hindustan Socialist
              Republican Association (HSRA) after the death of its founder.</p>
          </div>
        </div>
        <div class="item">
          <img src="static/images/ff/4.jpg" alt="Course #2">
          <div class="down-content">
            <h4>Bal Gangadhar Tilak</h4>
            <p>23 July 1856 – 1 August 1920, endeared as Lokmanya (IAST: Lokmānya), was an Indian nationalist, teacher,
              and an independence activist. He was one third of the Lal Bal Pal triumvirate.[5] Tilak was the first
              leader of the Indian independence movement.</p>
          </div>
        </div>
        <div class="item">
          <img src="static/images/ff/5.jpg" alt="Course #2">
          <div class="down-content">
            <h4>Dr. Lal Bhadur Shastri</h4>
            <p> 2 October 1904 – 11 January 1966, was an Indian politician and statesman who served as the 2nd Prime
              Minister of India from 1964 to 1966 and 6th Home Minister of India from 1961 to 1963. He promoted the
              White Revolution – a national campaign to increase.</p>
          </div>
        </div>
        <div class="item">
          <img src="static/images/ff/6.jpg" alt="Course #2">
          <div class="down-content">
            <h4>Sardar Vallabhabhai Patel</h4>
            <p>31 October 1875 – 15 December 1950), commonly known as Sardar Patel,[a] was an Indian lawyer, influential
              political leader, barrister and statesman who served as the first Deputy Prime Minister and Home Minister
              of India from 1947 to 1950. </p>
          </div>
        </div>
        <div class="item">
          <img src="static/images/ff/7.jpg" alt="Course #2">
          <div class="down-content">
            <h4>Bhagat Singh</h4>
            <p>27 September 1907[a] – 23 March 1931) was a charismatic Indian revolutionary[6] who participated in the
              mistaken murder of a junior British police officer[7] in what was to be retaliation for the death of an
              Indian nationalist.[8] He later took part in a largely.</p>
          </div>
        </div>
        <div class="item">
          <img src="static/images/ff/8.jpg" alt="Course #2">
          <div class="down-content">
            <h4>Subhas Chandra Bose</h4>
            <p>23 January 1897 – 18 August 1945[4][5]) was an Indian nationalist whose defiance of British authority in
              India made him a hero among many Indians,[h][i][j] but his wartime alliances with Nazi Germany and
              Imperial Japan left a legacy vexed by The honorific Netaji.</p>
          </div>
        </div>
        <div class="item">
          <img src="static/images/ff/9.jpg" alt="Course #2">
          <div class="down-content">
            <h4>Mangal Pandey</h4>
            <p>Mangal Pandey was an Indian soldier who played a key part in the events immediately preceding the
              outbreak of the Indian rebellion of 1857. He was a sepoy (infantryman) in the 34th Bengal Native Infantry
              (BNI) regiment of the British East India Company In 1984.</p>
          </div>
        </div>
        <div class="item">
          <img src="static/images/ff/10.jpg" alt="Course #2">
          <div class="down-content">
            <h4>Rani Lakshmi bai</h4>
            <p>19 November 1828 — 18 June 1858),[1][2] was an Indian queen, the Maharani consort of the Maratha princely
              state of Jhansi from 1843 to 1853 as the wife of Maharaja Gangadhar Rao.[3] She was one of the leading
              figure of the Indian Rebellion of 1857 and became a symbol.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>





{% comment %} chatbot-------------------------------------------------------------------- {% endcomment %}

<div>
  <div class="chatbox">
    <div class="chatbox__support">
      <div class="chatbox__header">
        <div class="chatbox__image--header">
          <img src="static/images/India flag.png" alt="image">
        </div>
        <div class="chatbox__content--header">
          <h4 class="chatbox__heading--header">Chat support</h4>
          <p class="chatbox__description--header">Freedom is not free until it gives equal rights to all.</p>
        </div>
      </div>
      <div class="chatbox__messages">

        <div id="mychatbox">
          <h5 id="chat-timestamp"></h5>
          <p id="botStarterMessage" class="botText"><span>Loading...</span></p>
        </div>
      </div>
      <div class="chatbox__footer">

        <div id="userInput">
          <input id="textInput" class="input-box" type="text" name="msg" placeholder="JAI HIND">
          <p></p>
        </div>

        <i id="chat-icon" style="color:green ;" class="fa fa-fw fa-send" onclick="sendButton()"></i>
      </div>
    </div>
    <div id="chat-bar-bottom">
      <p></p>
    </div>
    <div class="chatbox__button">
      <button>button</button>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="static/js/Chat.js"></script>
<script src="static/js/chatapp.js"></script>


{% endblock content %}

{% include 'footer.html' %}