{% include 'header.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="static/css/journey.css">


<body>

    <div class="timeline-container" id="timeline-1">
        <div class="timeline-header">
            <h1 class="timeline-header__title">Journey of Purna Swaraj</h1>
            <h3 class="timeline-header__subtitle">Historical &nbsp;Constitutions</h3>
        </div>
        <div class="timeline">
            <div class="timeline-item" data-text="HISTORICAL CONSTITUTIONS">
                <div class="timeline__content"><img class="timeline__img" src="static/images/journey/img1.jpg" />
                    <h2 class="timeline__content-title">1925</h2>
                    <h4>The Commonwealth of India Bill (National Convention, India, 1925)</h4>
                    <p class="timeline__content-desc">The Commonwealth of India Bill 1925 was first drafted by the
                        ‘National Convention’ in April 1924 in the context of the Indian nationalist movement that
                        believed it was time for Indians to be governed by a Constitution framed by Indians. The
                        Convention, with Tej Bahadur Sapru as the Chairman, consisted of 256 members, majority of whom
                        were legislators and ex-legislators with some representation from the Home Rule League, 1921
                        Club, and the India Women’s Association.</p>
                </div>
            </div>
            <div class="timeline-item" data-text="HISTORICAL CONSTITUTIONS">
                <div class="timeline__content"><img class="timeline__img" src="static/images/journey/img2.jpg" />
                    <h2 class="timeline__content-title">1928</h2>
                    <h4>Nehru Report (Motilal Nehru,1928)</h4>
                    <p class="timeline__content-desc">In November 1927, the British government appointed the Simon
                        Commission to review the working of the Government of India Act 1919 and propose constitutional
                        reforms for India. The Commission did not have a single Indian member which irked leaders of the
                        nationalist movement. While the British acknowledged the discontent, it did not change the
                        composition of the Commission and instead asked Indians to prove that they could draw up a
                        constitution themselves.</p>
                </div>
            </div>
            <div class="timeline-item" data-text="HISTORICAL CONSTITUTIONS">
                <div class="timeline__content"><img class="timeline__img" src="static/images/journey/img3.jpg" />
                    <h2 class="timeline__content-title">1930</h2>
                    <h4>Declaration of Purna Swaraj (Indian National Congress, 1930)</h4>
                    <p class="timeline__content-desc">The Indian National Congress, on 19 December 1929, passed the
                        historic ‘Purna Swaraj’ – (total independence) resolution – at its Lahore session. A public
                        declaration was made on 26 January 1930 – a day which the Congress Party urged Indians to
                        celebrate as ‘Independence Day’.</p>
                </div>
            </div>
            <div class="timeline-item" data-text="HISTORICAL CONSTITUTIONS">
                <div class="timeline__content"><img class="timeline__img" src="static/images/journey/img4.jpg" />
                    <h2 class="timeline__content-title">1931</h2>
                    <h4>Karachi Resolution (1931)</h4>
                    <p class="timeline__content-desc">The Karachi Resolution was passed by the Indian National Congress
                        at its 1931 Karachi session. The Session was conducted in the shadow of three major events.
                        First, Mahatma Gandhi had just been released from prison following his Salt Satyagraha. Second,
                        the Gandhi-Irwin pact had just been concluded which had brought the civil disobedience movement
                        to an end. And third, the British government had, a week before the session, executed Bhagat
                        Singh and two of his associates in connection with the Kakori Conspiracy case.</p>
                </div>
            </div>
            <div class="timeline-item" data-text="HISTORICAL CONSTITUTIONS">
                <div class="timeline__content"><img class="timeline__img" src="static/images/journey/img5.jpg" />
                    <h2 class="timeline__content-title">1932</h2>
                    <h4>Poona Pact 1932 (B.R Ambedkar and M.K Gandhi)</h4>
                    <p class="timeline__content-desc">The Poona Pact 1932 was an agreement between B.R. Ambedkar and
                        M.K. Gandhi on the political representation of the Depressed Classes (a loose term that referred
                        to Dalits/Untouchables/Scheduled Castes). A little more than a month earlier, Ramsay Macdonald,
                        the British Prime Minister, announced the Communal Award that gave Depressed Classes separate
                        electorates for central and provincial legislatures. Gandhi viewed this as a danger to the Hindu
                        community that would de-link untouchables from Hindus. Ambedkar and other leaders of the
                        Depressed Classes welcomed the award.</p>
                </div>
            </div>
            <div class="timeline-item" data-text="HISTORICAL CONSTITUTIONSS">
                <div class="timeline__content"><img class="timeline__img" src="static/images/journey/img6.jpg" />
                    <h2 class="timeline__content-title">1935</h2>
                    <h4>Government of India Act 1935</h4>
                    <p class="timeline__content-desc">The Government of India Act was passed by the British parliament
                        in 1935 and came into effect in 1937. It was based on a report by a Joint Select Committee, led
                        by Lord Linlithgow, set up the two houses of the British parliament. The report, in turn, was
                        the result of the Joint Committee’s scrutiny of the ‘White Paper’ – a scheme of constitutional
                        proposals - prepared by the British government close on the heels of the Round Table
                        conferences.
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="HISTORICAL CONSTITUTIONS">
                <div class="timeline__content"><img class="timeline__img" src="static/images/journey/img7.jpg" />
                    <h2 class="timeline__content-title">1944</h2>
                    <h4>Constitution of Free India A Draft (M.N. Roy, 1944)</h4>
                    <p class="timeline__content-desc">M.N Roy’s Constitution of Free India: A Draft was published in
                        1944. It was endorsed and released for public discussion by the Radical Democratic Party of
                        which M.N. Roy was an important member. The Draft, according to him, would achieve three
                        objectives: first, remove Indian political parties as intermediaries between the British and the
                        Indian people on questions of India’s constitutional future and the transfer of power; second,
                        articulate a novel constitutional vision for the country and; third, expedite the transfer of
                        power from the British to the Indian people. </p>
                </div>
            </div>
            <div class="timeline-item" data-text="HISTORICAL CONSTITUTIONS">
                <div class="timeline__content"><img class="timeline__img" src="static/images/journey/img8.jpg" />
                    <h2 class="timeline__content-title">1944</h2>
                    <h4>The Constitution of the Hindusthan Free State Act 1944</h4>
                    <p class="timeline__content-desc">
                        The Constitution of Hindusthan Free State Act 1944 (“Hindustan Constitution”) was produced by a
                        committee ("Committee") appointed by the Bhopatkar Satkar Nidhi - a trust closely connected to
                        the Hindu Mahasabha. The Committee was tasked with framing a Constitution for India that would
                        ‘unify the divergent elements and interests of the country’. In the mid-1940s, many felt that an
                        Indian Constituent Assembly was on the horizon. The key political question at the time was: What
                        constitutional arrangement could secure the future of India’s minorities, particularly the
                        Muslim community?
                    </p>
                </div>
            </div>
            <div class="timeline-item" data-text="HISTORICAL CONSTITUTIONS">
                <div class="timeline__content"><img class="timeline__img" src="static/images/journey/img9.jpg" />
                    <h2 class="timeline__content-title">1944</h2>
                    <h4>Political Demands of Scheduled Castes (Scheduled Castes Federation,1944)</h4>
                    <p class="timeline__content-desc">In 1944, the Working Committee of the All India Scheduled Castes
                        Federation (SCF) passed a series of resolutions ‘outlining the safeguards for the untouchables
                        in the new Constitution’. B.R Ambedkar, who founded the Federation, organised these resolutions
                        under the heading ‘Political Demands of the Scheduled Castes’ as an appendix to his book ‘What
                        the Congress and Gandhi have done to the Untouchables’ published in 1945.</p>
                </div>
            </div>
            <div class="timeline-item" data-text="HISTORICAL CONSTITUTIONS">
                <div class="timeline__content"><img class="timeline__img" src="static/images/journey/img10.jpg" />
                    <h2 class="timeline__content-title">1945</h2>
                    <h4>States and Minorities (Dr. B.R. Ambedkar, 1945)</h4>
                    <p class="timeline__content-desc">B.R. Ambedkar submitted States and Minorities, previously
                        published in 1945 as a standalone book, to the Sub-Committee on Fundamental Rights of the
                        Constituent Assembly of India in 1947. The Sub-Committee, of which B.R. Ambedkar was a member,
                        was tasked by the Assembly to draw up a list of Fundamental Rights for the Constitution of
                        India. </p>
                </div>
            </div>
        </div>
    </div>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>

    <script src="static/js/journey.js"></script>



    {% endblock %}


    {% include 'footer.html' %}